h1,h3
{
    text-align: center;
}
body
{
    width:900px;
    margin-left:auto;
    margin-right:auto;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 820px) {
    body {
        width:auto;
    }
}
.felhivas,.roomscreen,.roomdata,.container
{
    margin-right: auto;
    margin-left: auto;
}
#osszegzes
{
    text-align: center;
}
#butt
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    background-color: darkorange;
    height: 100px;
    margin-top: 20px;

}
.felhivas
{
    text-align: center;
    border:2px solid darkblue;
    background-color: darkcyan;
    color:white;
    margin-left: auto;
    margin-right:auto;
}
.roomdata
{
    border:2px solid darkgoldenrod;
    color:white;
    background: goldenrod;
    text-align: center;
}

.roomscreen
{

    border:2px solid darkgreen;
    color:white;
    background:green;
    text-align:center;
}
.windowscreen
{
    border:2px solid darkcyan;
    color:white;
    background: cyan;
    text-align: center;
}
.eredmeny
{
    border:2px solid darkred;
    color:white;
    background: indianred;
    font-size: 120%;
}