h1,h3
{
    text-align: center;
}
body
{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}
.felhivas,.roomscreen,.roomdata,.container
{
    margin-right: auto;
    margin-left: auto;
}

.felhivas
{
    text-align: center;
    border:2px solid darkblue;
    background-color: darkcyan;
    color:white;
    width:500px;
    margin-left: auto;
    margin-right:auto;
}
.roomdata
{

   width:300px;
    border:2px solid darkgoldenrod;
    color:white;
    background: goldenrod;
    text-align: center;
}

.roomscreen
{
    width:300px;
    border:2px solid darkgreen;
    color:white;
    background:green;
    text-align:center;
}